body {
  background-color: silver;  
  font-family: Arial, sans-serif;
    font-size: 16px;
    color: royalblue;
    line-height: 1.5;
  }
  
  header {
    background-color: silver;
    padding: 20px;
  }
  
  nav ul {
    background-color: silver;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    background-color: silver;
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: green;
    font-weight: bold;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
  }
  
  section {
    background-color: silver;
    margin-bottom: 40px;
  }
  
  section h2 {
    color: red;
    font-size: 32px;
  }
  